html,
body {
  max-width: 100vw;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: #929292;
}
.font-dot {
  font-family: "DotGothic16", sans-serif;
}
.scroller {
  overflow: auto;
  scroll-snap-type: y mandatory;
  height: 100vh;
}
.scroll-area {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  align-items: center;
}
.top-circle-animation {
  animation: "circle-border" 6s ease-in-out 0s infinite alternate;
}
@keyframes circle-border {
  0% {
  }
  100% {
    border-color: pink;
  }
}
* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
.loading {
  position: relative;
  width: 100px;
  height: 100px;
}
.loading::after {
  border-radius: 40%;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    #ee88aa,
    rgba(250, 238, 255, 0.3) 90%,
    rgba(230, 238, 255, 0.5)
  );
  animation: color-fade 3s infinite linear;
}
.circle1,
.circle2,
.circle3 {
  opacity: 0.4;
  position: absolute;
  background: #0af;
  width: 100px;
  height: 100px;
  transform-origin: 50% 47%;
  border-radius: 40%;
  animation: rotation 3s infinite linear;
}
.circle2 {
  opacity: 0.2;
  background: #ff0;
  animation: rotation 5s infinite linear;
}
.circle3 {
  animation: rotation 2.5s infinite linear;
}
.title {
  position: absolute;
  top: 33px;
  width: 100%;
  z-index: 1;
  color: #fff;
  text-align: center;
  font-size: 0.7rem;
  line-height: 2rem;
  letter-spacing: 0.15em;
  animation: text-fade 300ms infinite linear;
}
/* 回転アニメーション */
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ピンク色の背景のアニメーション */
@keyframes color-fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}
/* 点滅のアニメーション */
@keyframes text-fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.9;
  }
  75% {
    opacity: 0.6;
  }
}

/* ふわっとなる丸枠 */
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gooey {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  filter: url("#filter");
}

.plus {
  font-size: 3em;
  color: #fff;
  padding: 27px 29px;
}

.mail {
  font-size: 3em;
  color: #fff;
  padding: 26px;
}

.question {
  font-size: 3em;
  color: #fff;
  padding: 26px;
}

#start {
  display: none;
}

.menu-open-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: green;
  cursor: pointer;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  transform: scale(1, 1);
  z-index: 2;
}

.menu-open-button:hover {
  transform: scale(1.1, 1.1);
}

.circleFirst,
.circleSecond {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: green;
  transition: transform ease-out 200ms;
  transform: translate3d(0, 0, 0);
}

#start:checked ~ .circleFirst {
  transform: translate3d(0, -150px, 0);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 800ms;
}

#start:checked ~ .circleSecond {
  transform: translate3d(0, -300px, 0);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 800ms;
}

#start:checked ~ div i {
  animation: blight 600ms ease-in forwards;
}

#start:checked + label div i {
  transform: rotateZ(-45deg);
  transition-timing-function: ease;
  transition-duration: 300ms;
}

@keyframes blight {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
/* 画像切り出し */
.radius-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 40% 70% 50% 30%/50%;
}
.radius-wrapper {
  float: left;
  shape-outside: circle(); /*文字が回り込む*/
}

/*鳥が飛ぶアニメーション*/
.bird {
  position: absolute;
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  animation: moving 16s linear infinite;
}

.bird.-type_2 {
  animation-delay: 1s;
}
.bird.-type_2:before,
.bird.-type_2:after {
  animation-delay: -2s;
}

.bird.-type_3 {
  animation-delay: 3s;
}

@keyframes moving {
  0% {
    top: 47vh;
    left: -2vw;
  }
  25% {
    top: 51vh;
    left: 23vw;
  }
  100% {
    top: 47vh;
    left: 101vw;
  }
}

.bird:before,
.bird:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: black;
  transform: rotate(-30deg);
  transform-origin: right bottom;
}

.bird:before {
  width: 100%;
  height: 1px;
  animation: leftWing 8s linear infinite;
}
.bird:after {
  width: 1px;
  height: 100%;
  animation: rightWing 8s linear infinite;
}

@keyframes leftWing {
  0% {
    transform: rotate(-30deg);
  }
  2% {
    transform: rotate(-110deg);
  }
  4% {
    transform: rotate(-30deg);
  }
  6% {
    transform: rotate(-110deg);
  }
  8% {
    transform: rotate(-30deg);
  }
  10% {
    transform: rotate(-110deg);
  }
  12% {
    transform: rotate(-30deg);
  }
  30% {
    transform: rotate(-30deg);
  }
  42% {
    transform: rotate(-35deg);
  }
  72% {
    transform: rotate(-35deg);
  }
  74% {
    transform: rotate(10deg);
  }
  76% {
    transform: rotate(-30deg);
  }
  78% {
    transform: rotate(-110deg);
  }
  80% {
    transform: rotate(-30deg);
  }
  82% {
    transform: rotate(-110deg);
  }
  84% {
    transform: rotate(-30deg);
  }
  86% {
    transform: rotate(-110deg);
  }
  88% {
    transform: rotate(-30deg);
  }
  90% {
    transform: rotate(-110deg);
  }
  92% {
    transform: rotate(-30deg);
  }
  94% {
    transform: rotate(-110deg);
  }
  96% {
    transform: rotate(-30deg);
  }
  98% {
    transform: rotate(-110deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}

@keyframes rightWing {
  0% {
    transform: rotate(30deg);
  }
  2% {
    transform: rotate(110deg);
  }
  4% {
    transform: rotate(30deg);
  }
  6% {
    transform: rotate(110deg);
  }
  8% {
    transform: rotate(30deg);
  }
  10% {
    transform: rotate(110deg);
  }
  12% {
    transform: rotate(30deg);
  }
  30% {
    transform: rotate(30deg);
  }
  42% {
    transform: rotate(35deg);
  }
  72% {
    transform: rotate(35deg);
  }
  74% {
    transform: rotate(0deg);
  }
  76% {
    transform: rotate(30deg);
  }
  78% {
    transform: rotate(110deg);
  }
  80% {
    transform: rotate(30deg);
  }
  82% {
    transform: rotate(110deg);
  }
  84% {
    transform: rotate(30deg);
  }
  86% {
    transform: rotate(110deg);
  }
  88% {
    transform: rotate(30deg);
  }
  90% {
    transform: rotate(110deg);
  }
  92% {
    transform: rotate(30deg);
  }
  94% {
    transform: rotate(110deg);
  }
  96% {
    transform: rotate(30deg);
  }
  98% {
    transform: rotate(110deg);
  }
  100% {
    transform: rotate(30deg);
  }
}

/* ヘッダーのハンバーガー */
/* チェックボックスは非表示に */
.drawer-hidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer-open {
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 100; /* 重なり順を一番上に */
  cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer-open span,
.drawer-open span:before,
.drawer-open span:after {
  content: "";
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: rgb(202, 202, 202);
  transition: 0.5s;
  position: absolute;
}

/* 三本線のうち一番上の棒の位置調整 */
.drawer-open span:before {
  bottom: 8px;
}

/* 三本線のうち一番下の棒の位置調整 */
.drawer-open span:after {
  top: 8px;
}
.drawer-open:after {
  position: relative;
  top: 20px;
  right: 1px;
  content: "menu";
  transition: 1s;
  color: white;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer-check:checked ~ .drawer-open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer-check:checked ~ .drawer-open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer-check:checked ~ .drawer-open span::after {
  top: 0;
  transform: rotate(-45deg);
}
#drawer-check:checked ~ .drawer-open:after {
  transform: translateX(50%) translateY(-70%) rotate(90deg);
  /* transform: translateY(100vw); */

  transition: 1s;
}

/* メニューのデザイン*/
.drawer-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%; /* メニューを画面の外に飛ばす */
  z-index: 99;
  background: rgb(184, 184, 184);
  transition: 0.5s;
}
@media screen and (min-width: 768px) {
  .drawer-content {
    height: 80px;
  }
}

/* アイコンがクリックされたらメニューを表示 */
#drawer-check:checked ~ .drawer-content {
  left: 0; /* メニューを画面に入れる */
}

/* ここまでハンバーガーメニュー */

/* カーソル点滅 */
.cursor {
  animation: tenmetu 1s infinite;
}
@keyframes tenmetu {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
/* トップページの湯気 */
.yuge {
  position: relative;
}
.yuge:before,
.yuge:after {
  animation: yugeUp 5s ease-in-out infinite;
  opacity: 0;
  transform: translateY(-15px);
}
.yuge:before {
  content: "";
  position: absolute;
  height: 200px;
  top: -250px;
  left: 60px;
  border-right: 0px solid transparent;
  border-top: 2px solid #fff;
  border-left: 135px solid #fff;
  border-bottom: 12px solid transparent;
  filter: blur(35px);
  z-index: 4;
  transform: rotate(168deg) skewY(10deg);
  border-radius: 80% 0 10% 10%;
}
.yuge:after {
  content: "";
  height: 200px;
  top: -180px;
  right: 60px;
  display: block;
  position: absolute;
  border-right: 0px solid transparent;
  border-top: 2px solid #fff;
  border-left: 125px solid #fff;
  border-bottom: 12px solid transparent;
  filter: blur(35px);
  z-index: 4;
  transform: rotate(168deg) skewY(10deg);
  border-radius: 80% 0 10% 10%;
}
@keyframes yugeUp {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    transform: translateY(-250px);
  }
}
